<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>{{ page.title }} - {{ site.title }}</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;600&display=swap" />
<link rel="stylesheet" href="/style.css" type="text/css" media="all" />
<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ page.title }} - {{ site.title }}" />
<meta property="og:description" content="Far Gosford Street is one of Coventry’s most historic streets and has seen many changes throughout its long and colourful life." />
<meta property="og:url" content="https://www.fargosfordstreet.com/" />
<meta property="og:site_name" content="Far Gosford Street" />
<script type="text/javascript" src="/script.js"></script>
