<ul class="page-menu">
{% if page.dir == '/today/before-and-after/' %}
  <li class="current-page"><a href="/today/before-and-after/">Before &#038; After</a></li>
{% else %}
  <li><a href="/today/before-and-after/">Before &#038; After</a></li>
{% endif %}
{% if page.dir == '/today/community/' %}
  <li class="current-page"><a href="/today/community/">Community</a></li>
{% else %}
  <li><a href="/today/community/">Community</a></li>
{% endif %}
{% if page.dir == '/today/business/' %}
  <li class="current-page"><a href="/today/business/">Business</a></li>
{% else %}
  <li><a href="/today/business/">Business</a></li>
{% endif %}
{% if page.dir == '/today/fargo-faces/' %}
  <li class="current-page"><a href="/today/fargo-faces/">Fargo Faces</a></li>
{% else %}
  <li><a href="/today/fargo-faces/">Fargo Faces</a></li>
{% endif %}
</ul>
