<ul class="page-menu">
  <li><a href="https://www.fargovillage.co.uk/">Fargo Village</a></li>
{% if page.dir == '/tomorrow/retail/' %}
  <li class="current-page"><a href="/tomorrow/retail/">Retail</a></li>
{% else %}
  <li><a href="/tomorrow/retail/">Retail</a></li>
{% endif %}
{% if page.dir == '/tomorrow/city-living/' %}
  <li class="current-page"><a href="/tomorrow/city-living/">City Living</a></li>
{% else %}
  <li><a href="/tomorrow/city-living/">City Living</a></li>
{% endif %}
{% if page.dir == '/tomorrow/hotel/' %}
  <li class="current-page"><a href="/tomorrow/hotel/">Hotel</a></li>
{% else %}
  <li><a href="/tomorrow/hotel/">Hotel</a></li>
{% endif %}
{% if page.dir == '/tomorrow/business/' %}
  <li class="current-page"><a href="/tomorrow/business/">Business</a></li>
{% else %}
  <li><a href="/tomorrow/business/">Business</a></li>
{% endif %}
{% if page.dir == '/tomorrow/leisure/' %}
  <li class="current-page"><a href="/tomorrow/leisure/">Leisure</a></li>
{% else %}
  <li><a href="/tomorrow/leisure/">Leisure</a></li>
{% endif %}
</ul>
