<ul class="page-menu">
{% if page.dir == '/yesterday/birth-of-a-street/' %}
  <li class="current-page"><a href="/yesterday/birth-of-a-street/">Birth of a Street</a></li>
{% else %}
  <li><a href="/yesterday/birth-of-a-street/">Birth of a Street</a></li>
{% endif %}
{% if page.dir == '/yesterday/development-of-a-street/' %}
  <li class="current-page"><a href="/yesterday/development-of-a-street/">Development of a Street</a></li>
{% else %}
  <li><a href="/yesterday/development-of-a-street/">Development of a Street</a></li>
{% endif %}
{% if page.dir == '/yesterday/historic-buildings/' %}
  <li class="current-page"><a href="/yesterday/historic-buildings/">Historic Buildings</a></li>
{% else %}
  <li><a href="/yesterday/historic-buildings/">Historic Buildings</a></li>
{% endif %}
{% if page.dir == '/yesterday/living-on-the-street/' %}
  <li class="current-page"><a href="/yesterday/living-on-the-street/">Living on the Street</a></li>
{% else %}
  <li><a href="/yesterday/living-on-the-street/">Living on the Street</a></li>
{% endif %}
{% if page.dir == '/yesterday/archaeology/' %}
  <li class="current-page"><a href="/yesterday/archaeology/">Archaeology</a></li>
{% else %}
  <li><a href="/yesterday/archaeology/">Archaeology</a></li>
{% endif %}
{% if page.dir == '/yesterday/timeline/' %}
  <li class="current-page"><a href="/yesterday/timeline/">Timeline</a></li>
{% else %}
  <li><a href="/yesterday/timeline/">Timeline</a></li>
{% endif %}
</ul>
